*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

html {
    overflow-y: hidden;
  }

.clearfix:after{                         
  display: table;
  content: "";
  clear: both;
}

body{
  margin: 0 auto;
  font-size: 50px;
  position: relative;
}

nav{
    height: 50px;
    position: fixed;
    z-index: 1;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    
    
}

.black-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

.shoe-banner{
    height: 100vh;
    position: relative;
}

#shoe-1{
    background-image: url("../img/sfondo-legno.jpg");
    background-position: center;
    background-size: contain;

}

#shoe-2{
    background-image: url("../img/sfondo-metallo.jpg");
    background-position: center;
    background-size: contain;
}

#shoe-3{
    background-image: url("../img/sfondo-prato-verde.jpg");
    background-position: center;
    background-size: contain;
}

.deal-position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.deal-position img{
    height: 90%;
    width: 90%;
    
}

div.deal-position img ~ p{
    font-family: 'Rubik Mono One', sans-serif;
    color: #FFFF00;
    text-align: center;
}

#special-offer{
    z-index: 2;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 10%;
}

li a{
    text-decoration: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    background-color: white;
    color: goldenrod;
    text-shadow: 5px 5px 5px black;
    margin: 0 100px;
}

li a:hover{
    transform: scale(1.2);
    box-shadow: 0 0 50px goldenrod;
}

li{
    display: inline-block;
    list-style-type: none;
}

li a:nth-child(1){
    background-image: url("../img/sfondo-legno.jpg");
    
}
li a:nth-child(2){
    background-image: url("../img/sfondo-metallo.jpg");
    
}
li a:nth-child(3){
    background-image: url("../img/sfondo-prato-verde.jpg");
    
}